/* Align */
.a-text-center {
    text-align: center !important;
}

.a-text-left {
    text-align: left !important;
}

.a-text-right {
    text-align: right !important;
}

/* margin */
.a-m-0-auto {
    margin: 0 auto !important;
}

/* Padding */
.a-p-12 {
    padding: 12px !important;
}

.a-p-t-b-6 {
    padding: 6px 0px !important;
}

/* Overflow  */
.a-of-v {
    overflow: visible !important;
}

/* width */
.a-w-100 {
    width: 100% !important;
}

/* Client */

.body {
    font-family: sans-serif;
    letter-spacing: 1.75px;
}

.header {
    width: 100%;
    background-color: white;
    border-bottom: solid 1px #ccc;
}

.header .header-top {
    width: 100%;
    height: 80px;
    padding: 12px;
    background-color: #3DB4D9;
    position: relative;
}

.header .header-top .logo-header {
    position: absolute;
    width: 60px;
    left: 100px;
}

.header .header-top .logo-header img {
    width: 100%;
    height: 100%;
}

.header .header-top .social {
    position: absolute;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0px;
}

.header .header-top .social ul li {
    display: inline-block;
    font-size: 1.5rem;
    padding: 6px;
}

.header .header-top .social ul li a{
    text-decoration: none;
    color: white;
}

.header-menu {
    text-align: center;
    padding: 24px;
}

.header-menu ul li {
    list-style: none;
    display: inline-block;
    padding: 12px;
}

.header-menu ul li  a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.15rem;
}

.header-menu ul li  a:hover {
    color: #3DB4D9;
    transition: all ease .3s;
}

.header-menu ul li  a.active {
    border-bottom: solid 1px #3DB4D9;
}

/* Content */
main .content {
    padding: 24px;
}

/* Profile */
.profile {

}

.profile-about {
    margin: 30px 0px;
}

.profile a {
    text-decoration: none;
    color: inherit;
}
/* Footer */
.footer {
    width: 100%;
    height: 320px;
    background-color: #282E37;
}

